.videoCard{
     box-shadow: 0 13px 10px -5px;
     padding:8rem  3rem 8rem 3rem;
     background-color: #051b35;
     margin: 20px auto;
     border-radius: 5px;
}

.iconProject{

 color: #ebee5b;
  font-size: 40px;

}

.videText{
     margin-top: 2%;

    
}